{
  "presets": [["env", {
    "exclude": ["transform-regenerator"]
  }], "react"],
  "plugins": [["fast-async", {
    "useRuntimeModule": true
  }], "transform-object-rest-spread", "transform-class-properties"]
}
