* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  font-size: 10px;
  font-family: arial, verdana;
  background-color: rgb(241, 243, 246);
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #158cba;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  display: block;
  margin: 0;
  width: 100%;
  height: 1px;
  border: 0;
  background: rgb(231, 231, 231);
}

#react-view {
  height: 100%;
}

#App {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}

.mobile {
  display: none !important;
}

.momentum-scroll-enabled {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 1025px) {
  html,
  body {
    overflow: hidden;
    position: absolute;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 7px;
  }
  .header.chat {
    top: 0 !important;
  }
  .mobile {
    display: flex !important;
  }
  .desktop {
    display: none !important;
  }
}
