* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: normal;
  font-size: 10px;
  font-family: arial, verdana;
  background-color: #f1f3f6;
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #158cba;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#react-view {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

.hidden {
  display: none!important;
}

.mobile {
  display: none!important;
}

.momentum-scroll-enabled {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 992px) {
  html, body {
    overflow: hidden;
    position: absolute;
  }
}

@media (max-width: 991px) {
  .header.chat {
    top: 0!important;
  }
  .mobile {
    display: flex!important;
  }
  .desktop {
    display: none!important;
  }
}

@media (min-width: 768px) {
  .right {
    width: 30%;
  }
}
